.navbar-brand {
    padding-top: 1rem !important;
    height: 60px;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 25%);
}

.nav-item {
    color: white;
    padding-right: 1rem;
}

.nav .nav-item {
    color: black;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}

.sidebar-sticky {
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.chartjs-size-monitor {
    position: absolute;
    inset: 0px;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
}

main {
    right: 0;
    height: 100vh;
    display: inline-block;
    position: fixed;
    margin-left: auto;
    overflow: scroll;
    padding-bottom: 1.5rem;
}

.navbar{
    height:60px;
}

nav {
    position: fixed;
}

#chart {
    padding-top: 1.5rem;
}

#tableView {
    margin-top: 1.5rem;
}

#table {
    max-height: 400px;
    overflow: scroll;
}

canvas {
    position: relative;
    width: 100%!important;
    height: 100%!important;
}